{% extends "base.html.twig"%}
    {% block title %}
        Page Not Found
    {% endblock %}
    {% block header %}
        {{ include('partials/header.html.twig') }}
    {% endblock %}
{% block body %}
   
    <p> 404</p>
{% endblock %}
{% block footer %}
    {{ include('partials/footer.html.twig') }}
{% endblock %}

