{% extends 'base.html.twig' %}

{% block title %}
	Liste des produits
{% endblock %}
{% block header %}
	{{ include('partials/header.html.twig') }}
{% endblock %}

{% block body %}
	<div class="row ">
		{{ include('partials/filter.html.twig',  form ) }}
		<div class="col-9">
			<div class="album py-5 ">
				<div class="">
					{% if products %}

						<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
							{% for product in products %}
								{{ include('catalogue/card.html.twig', {product:product} ) }}
							{% endfor %}
						</div>

					{% endif %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block footer %}
	{{ include('partials/footer.html.twig') }}
{% endblock %}
